<div class="row">
    <div class="small-3 columns">
        <strong>
            <div class="row">
                <div class="small-6 columns">
                  <%= type.humanize %>:
                </div>
                <div id="<%= type %>" class="small-6 columns">
                   0
                </div>
            </div>
        </strong>
    </div> 
    <div class="small-9 columns">
        <%= add_sub_button_bar(type, values) %>
    </div>
</div>